.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-color: #282c34;
}

@keyframes loading {
  from,
  to {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.9);
  }
}
